USE [master]
GO
/****** Object:  Database [ShopBridge]    Script Date: 8/18/2020 11:51:54 PM ******/
CREATE DATABASE [ShopBridge]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopBridge', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ShopBridge.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShopBridge_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ShopBridge_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopBridge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopBridge]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/18/2020 11:51:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 8/18/2020 11:51:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200816151231_InitialSetup', N'2.0.3-rtm-10026')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200817132130_AddedCreatedOnProperty', N'2.0.3-rtm-10026')
INSERT [dbo].[Items] ([Id], [Description], [ImgUrl], [Name], [Price], [CreatedOn], [IsDeleted]) VALUES (N'328dba1e-ee8b-403c-81d6-0984d8c5d7f9', N'wifi with router', NULL, N'Wifi', 220, CAST(N'2020-08-18T23:20:34.2703688' AS DateTime2), 0)
INSERT [dbo].[Items] ([Id], [Description], [ImgUrl], [Name], [Price], [CreatedOn], [IsDeleted]) VALUES (N'74410116-7423-4774-822a-2ce7bae54186', N'dash charge cable', NULL, N'Cable', 34, CAST(N'2020-08-18T23:20:52.9030208' AS DateTime2), 0)
USE [master]
GO
