<div class="container">
    <div class="row" *ngIf="isDetailsPresent">
        <div class="col-sm-4 clearfix">
            <h3>Item Details</h3>

            <hr />
            <div>
                Name : <span>{{ item.name }}</span>
            </div>
            <hr />
            <div>
                Description : <span>{{ item.description }}</span>
            </div>
            <hr />
            <div>
                Price : <span>{{ item.price }} </span>
            </div>
        </div>
        <div class="col-sm-4 clearfix bg-color">
            <div *ngIf="item.imgUrl != null">
                <img src="{{ item.imgUrl }}" alt="img" />
            </div>
            <div *ngIf="item.imgUrl == null">
                <img src="assets\images\dummy-user.jpg" alt="img" />
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!isDetailsPresent">
        <h4>No Details Present!</h4>
    </div>
    <button type="button" class="btn btn-primary" routerLink="/add-item">
    Back
  </button>
</div>