<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form #postForm="ngForm" (ngSubmit)="onCreateItem(postForm)">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="name">Name*</label>
                        <input type="text" class="form-control" id="name" required ngModel name="name" #name="ngModel" />
                        <div *ngIf="postForm.submitted && name.invalid" class="invalid-feedback">
                            <span *ngIf="name.errors.required">Required!</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-5">
                        <label for="description">Description*</label>
                        <input class="form-control" id="description" required ngModel name="description" #description="ngModel" />
                        <div *ngIf="postForm.submitted && description.invalid" class="invalid-feedback">
                            <span *ngIf="description.errors.required">Required!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">Price (in dollars)*</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" id="price" class="form-control" name="price" ngModel required [pattern]="'^[1-9][0-9]*$'" #price="ngModel" />
                            <div class="input-group-addon">.00</div>
                        </div>
                        <div *ngIf="postForm.submitted && price.invalid" class="invalid-feedback">
                            <span *ngIf="price.errors.required">Required!</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>

                        <button class="btn btn-primary" type="submit">
              Add Item
            </button> &nbsp;&nbsp;
                        <button type="button" class="btn btn-outline-primary" (click)="onReset(postForm)">
              Clear
            </button> &nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" (click)="onDeleteAllItems()" *ngIf="loadedItems.length >= 1">
              Remove All
            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />

    <div class="row clearfix">
        <span *ngIf="loadedItems.length < 1 && !isFetching">
      No items available!
    </span>

        <div class="col-lg-12" *ngIf="loadedItems.length >= 1">
            <table class="table table-hover table-bordered" *ngIf="loadedItems.length >= 1 && !isFetching" id="header-fixed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of loadedItems; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>${{ item.price }}</td>
                        <td>
                            <a type="button" class="btn btn-outline-primary" (click)="onDeleteItem(item)">
                Remove
              </a> &nbsp;
                            <a type="button" class="btn btn-outline-primary" routerLink="/details" (click)="sendItem(item)" n>
                View Details
              </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-11">
            <p class="loader" *ngIf="isFetching && !error"></p>
            <div class="alert alert-danger" *ngIf="error">
                <h3>An Error Occurred!</h3>
                {{ error }}
            </div>
        </div>
    </div>
</div>